build/
dist/
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.scannerwork/
.idea/
.vscode/
anaconda_projects/
/dat/
/notebooks/icpr2016/
/notebooks/.ipynb_checkpoints
python/mtlearn/.DS_Store
notebooks/.ipynb_checkpoints/AreaOpening-checkpoint.ipynb
environment_.yml
notebooks/paper/.ipynb_checkpoints/Modelos-checkpoint.ipynb
notebooks/icpr/.DS_Store
notebooks/icpr/.ipynb_checkpoints/Modelos-checkpoint.ipynb
/notebooks/icpr/output_imgs
